<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
    <footer class="footer fixed-bottom container" >

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p><span class="name"> Matúš Kalanin</span> <span class="line">||</span><span class="synopsis">Synopsis Demo</span></p>

  </div>
  </div>

</footer>
</body>
</html>